<footer class="flex flex-col lg:flex-row w-full  justify-center lg:justify-between lg:items-center gap-y-12">

  <div class="">
    <div><img class="logo" src="./LogoSadeBlanco.png" alt="logo SADE"></div>
    <div class="flex w-[200px] justify-between my-4">
      <a href="https://x.com/sadegrupo">
        <div class="social-icon twitter-icon"></div>
      </a>
      <a href="https://www.linkedin.com/company/gruposade/">
        <div class="social-icon linkedin-icon"></div>
      </a>
    </div>
    <div class="flex w-[200px] justify-between">
      <div class="enlace" i18n="@@footer.contactanos">
        Contactanos
      </div>
      <div class="flex">
        <div class="social-icon position-icon"></div>
        <div class="social-icon email-icon"></div>
        <div class="social-icon mobile-icon"></div>
      </div>
    </div>
  </div>

  <div >
    <div class="enlace" i18n="@@footer.aviso" routerLink="/avisoLegal">Aviso Legal</div>
    <div class="enlace" i18n="@@footer.privacidad" routerLink="/politicaPrivacidad">Política de Privacidad</div>
    <div class="enlace" i18n="@@footer.cookies" routerLink="/politicaCookies">Política de cookies.</div>
    <div class="enlace" i18n="@@footer.candidatos" routerLink="/politicaCandidatos">Política de privacidad para candidatos.</div>
    <div class="enlace" i18n="@@footer.canal" routerLink="/canalEtico">Canal Ético</div>
  </div>
  <div class="flex justify-start gap-x-4">
    <div class="ayudas">
      <img src="aenor.png" alt="Aenor">
    </div>
    <div class="ayudas">
      <img src="Financiacion1.png" alt="Ayudas UE">
    </div>
    <div class="ayudas">
      <img src="financiacion2.png" alt="ayudas UE">
    </div>
  </div>
</footer>
