<section class="flex p-16 justify-center gap-12 flex-wrap">

  <div class="card">
    <div class="flex justify-center">
      <img src="primerNivel.png" alt="">
    </div>
    <div class="tituloCard">Proyectos <br/> de primer nivel</div>
    <div class="textoCard">Trabajamos en proyectos de primer nivel. Nuestros clientes confían en nosotros como socios
      tecnológicos.
    </div>
  </div>
  <div class="card">
    <div class="flex justify-center">
      <img src="carreraPersonalizado.png" alt="">
    </div>
    <div class="tituloCard">Plan de carrera personalizado.</div>
    <div class="textoCard">Realizamos evaluaciones continuas donde evaluamos el desempeño individual, trabajando para
      fomentar el crecimiento y el desarrollo de las personas.
    </div>
  </div>
  <div class="card">
    <div class="flex justify-center">
      <img src="TecnologiasPunteras.png" alt="">
    </div>
    <div class="tituloCard">Las tecnologías más punteras</div>
    <div class="textoCard">Somos referentes tecnológicos en programación y tecnologías como desarrolladores de
      software.
    </div>
  </div>
  <div class="card">
    <div class="flex justify-center">
      <img src="profesionalesReferencia.png" alt="">
    </div>
    <div class="tituloCard">Profesionales<br/> de referencia</div>
    <div class="textoCard">Fomentamos la creación de comunidades tecnológicas a todos los niveles para facilitarte el
      proceso de crecimiento profesional gracias a nuestros referentes.
    </div>
  </div>
  <div class="card">
    <div class="flex justify-center">
      <img src="creatividadEmpresarial.png" alt="">
    </div>
    <div class="tituloCard">Cultura <br/>de empresa única</div>
    <div class="textoCard">Valoramos a las personas honestas, creativas, con ideas propias, a las que les gusten los
      retos, las tecnologías y tengan valores para desarrollarse en una cultura de igualdad. Estos valores son nuestros
      pilares como empresa.
    </div>
  </div>
</section>
