<div id="bannerTalento" class="relative">
  <div id="cubos" class="absolute md:relative w-full">
    <img id="imgCubos" class="max-h-[300px]  md:max-h-[450px]" src="cubes.png" alt="cubos">
    <img id="lupa"  class="max-h-[300px]  md:max-h-[450px]" src="lupa.png" alt="lupa">
  </div>
  <div class="p-16 flex flex-col text-white w-full">
    <div class="flex flex-col talentoMensaje ">
        <div>BUSCAMOS TU</div>
        <div>TALENTO</div>
    </div>
    <p class="somos z-10">SOMOS GRUPO SADE</p>
    <div id="enlaceBanner" onclick="window.open('/web/guest/6#contactForm','_self');">
      <span>VER MÁS &nbsp;&nbsp;&gt;</span>
    </div>
  </div>
  <div id="fondoBurbujas">
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
  </div>
</div>
