<section class="p-12">
  <app-titulo-section titulo="Desarrollamos proyectos en las tecnologías más avanzadas"
                      i18n-titulo="@@diferenciales.titulo"/>
  <p class="normal mb-4 text-justify" i18n="@@diferenciales.texto.p1">Hoy en día, el ritmo de avance tecnológico no tiene precedentes y la
    innovación tecnológica puede ser un valor diferencial en cualquier negocio. Los modelos de negocio están en
    constante cambio en todos los sectores, y la implementación de soluciones tecnológicas constituye una verdadera
    fuente de oportunidades, de gran importancia estratégica para cualquier empresa.</p>
  <p class="normal mb-4 text-justify" i18n="@@diferenciales.texto.p2">La especialización forma parte de nuestro ADN y nos permite conocer
    la tecnología más innovadora y eficaz del mercado para dar el mejor servicio a nuestros clientes.</p>
  <p class="normal mb-4 text-justify" i18n="@@diferenciales.texto.p3">Analizamos, aplicamos e implantamos las mejores tecnologías para
    evolucionar cada sector.</p>
</section>
