<nav class="sticky xl:static navegador flex justify-between items-center w-full px-8 shadow-xl" style="top:0; z-index:100; background: white">
  <div class="relative w-[35px] h-[35px] flex xl:hidden cursor-pointer" (click)="toogleShowNavBar()">
    <div class="absolute transition-all duration-500 ease-in-out transform"
      [class]="{
      'opacity-100' : !showNavBar(),
      'opacity-0' : showNavBar(),
      }"
    >
      <img src="menu.svg" alt="" width="35" style="">
    </div>
    <div class="absolute transition-all duration-300 ease-in-out transform"
         [class]="{
      'opacity-100' : showNavBar(),
      'opacity-0' : !showNavBar(),
      }"
    >
      <img src="closeMenu.svg" alt="" width="35">
    </div>

  </div>
  <div class="logo" [routerLink]="'/home'" (click)="showNavBar.set(false)">
    <img src="LogoSADE.png" alt="logo" height="291" width="667">
  </div>
  <div class="principal hidden xl:flex w-full justify-end">
    <div class="demo" [routerLink]="'/demo'" i18n="@@navbar.solicitarDemo">Solicitar una demo</div>
  @for(item of internetMenu; track $index){
    <div [routerLink]="item.route"  [routerLinkActive]="'active marcado'" class="enlace">
      {{item.titulo}}
    </div>
  }
    <div class="enlace" (click)="redirigirToInfoJob()">Nuestras Ofertas</div>
  </div>
  <selector-language/>

</nav>
<nav class="sticky xl:static" style="top: 100px; background: white; z-index: 100">
  <div class="secondary hidden xl:flex">
    @for(item of internetMenuSecondary; track $index){
      <div [routerLink]="item.route"  [routerLinkActive]="'active marcado'"
           [class]="item.route.replace('/','')" class="enlaceSecundario" >
        {{item.titulo}}
      </div>
    }
  </div>
</nav>
<menu class="xl:hidden fixed top-[100px] z-11 bg-[#FFFFFFF4] h-[calc(100vh_-_100px)] w-full p-12" [class]="showNavBarComputed()">
  <div [routerLink]="'/demo'"   class="enlaceMobile demoMobile" (click)="toogleShowNavBar()" i18n="@@navbar.solicitarDemoMobile">
    Solicitar una demo
  </div>
  @for(item of internetMenu; track $index){
    <div [routerLink]="item.route"  [routerLinkActive]="'activeMobile marcadoMobile'"  class="enlaceMobile" (click)="toogleShowNavBar()">
      {{item.titulo}}
    </div>
  }
  <div   class="enlaceMobile" (click)="toogleShowNavBar(); redirigirToInfoJob()" i18n="@@navbar.nuestrasOfertas">
    Nuestras Ofertas
  </div>
  @for(item of internetMenuSecondary; track $index){
    <div [routerLink]="item.route"  [routerLinkActive]="'activeMobile marcadoMobile'" class="enlaceMobile"
         [class]="item.route.replace('/','')" (click)="toogleShowNavBar()" >
      {{item.titulo}}
    </div>
  }
</menu>

