<section class="flex w-full flex-col lg:flex-row h-[calc(100vh_-_100px)] lg:h-[50vh]  ">

  <div class="p-12 w-full flex flex-col justify-center ">
    <p
      class="mainTitle leading-[4rem] xl:leading-none
        text-[2.5rem] md:text-[3.5rem] mb-8
    ">
      {{ mainTitle }}</p>
    <p class="secondaryTitle xl:text-[1.8rem] text-[1.4rem]">{{secondaryTitle}}</p>
  </div>
  <div class="w-full flex items-center justify-center xl:justify-end ">
    <img [src]="image" alt="Imagen" class="max-w-full">
  </div>
</section>
