<section class="p-12">
  <app-titulo-section titulo="Tecnología como motor para cualquier organización" i18n-titulo="@@consultoria.tecnologia.titulo"/>

  <p class="normal mb-8" i18n="@@consultoria.tecnologia.p1">Con una visión muy práctica, tenemos experiencia en entender la problemática de una organización y
    ayudar a definir una estrategia en TIC acorde con sus necesidades y enfocada a resultados.</p>

  <p class="normal" i18n="@@consultoria.tecnologia.parrafo2" >En la era digital, dirigimos nuestro expertise hacia la consultoría estratégica y nuestro
    conocimiento sectorial hacia la creación de procesos de cambio y hacia la identificación de palancas críticas de
    transformación empresarial.</p>
</section>
