
*{
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}
nav{
  display: flex;
  column-gap: 1rem;
}
.logo{
  padding: 1rem;
}
.logo img{
  width: 160px;
  height: auto;
}
.navegador{
  height: 100px;
}
.principal{
  height: 100px;
  width: 100%;
  justify-content: end;
  align-items: center;
}
.active{
  font-weight: bold;
}
.demo{
  margin-right: 2rem;
  animation: colorCycle 4s linear infinite;
  border: 3px solid dodgerblue;
  color: dodgerblue;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
  padding-inline: 0.7rem;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@keyframes colorCycle {
  0%{
    color: #e91e63;
    border-color: #e91e63;
  }
  25%{
    color: #3f51b5;
    border-color: #3f51b5;
  }
  50%{
    color: #4caf50;
    border-color: #4caf50;
  }
  75% {
    color: #ff9800;
    border-color: #ff9800;
  }
  100%{
    color: #e91e63;
    border-color: #e91e63;
  }

}
.enlace{
  position: relative;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.idioma{
  padding: 1rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.enlace::after{
  display: block;
  width: 0;
  height: 2px;
  content: '';
  position: relative;
  left: 0;
  right: 100%;
  bottom: -7px;
  background: transparent;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: width .5s ease-in-out ;
  -moz-transition: width .5s ease-in-out ;
  transition: width .5s ease-in-out ;
  border-bottom: 4px solid #0673ff;
}
.enlace:hover::after, .marcado::after{
  width: 100%;
}

.idioma span:hover{
  font-weight: bold;
  cursor: pointer;

}

.secondary{
  width: 100%;
  justify-content: end;
  column-gap: 2rem;
  padding-right: 5rem;
  color:  #1f8ccf;
  margin-bottom: 1rem;
}
.secondary > div{
  max-width: 160px;
  text-transform: uppercase;
}

.enlaceSecundario{
  position: relative;
  padding-inline: 1rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.enlaceSecundario::after{
  display: block;
  width: 0;
  height: 2px;
  content: '';
  position: relative;
  left: 0;
  right: 100%;
  bottom: -7px;
  background: transparent;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: width .5s ease-in-out ;
  -moz-transition: width .5s ease-in-out ;
  transition: width .5s ease-in-out ;
  border-bottom: 4px solid #0673ff;
}
.consultoria::after{
  border-bottom: 4px solid #8bc400 !important;;
}
.iagenerativa::after{
  border-bottom: 4px solid #ff1742 !important;;
}
.desarrollo::after{
  border-bottom: 4px solid #023671 !important;;
}
.tdiferenciales::after{
  border-bottom: 4px solid #f4ec11 !important;;
}
.digitalizacion::after{
  border-bottom: 4px solid #f48311 !important;;
}
.enlaceSecundario:hover::after, .marcado::after{
  width: 100%;
}
