<app-titulo-section titulo="Orígenes" i18n-titulo="@@conocenos.origenes.titulo"></app-titulo-section>
<p class="normal px-12 text-justify mb-8" i18n="@@conocenos.origenes.texto1">SADE fue fundada en el año 2003 en Madrid, con el propósito de proporcionar el
  máximo valor a sus clientes a través
  del uso más apropiado y eficiente de las mejores Tecnologías de la Información. Nuestros más de 100 empleados ayudan a
  nuestros clientes a alcanzar sus objetivos de negocios a través del más innovador uso de la Tecnología. El principal
  elemento diferenciador de SADE es de lado humano de la Tecnología, que mima al cliente y los detalles más pequeños,
  pero no olvida que son sus trabajadores.</p>

<p class="normal px-12 text-justify mb-8" i18n="@@conocenos.origenes.texto2">SADE Consultoría Técnica, S.L. es una empresa española de capital privado,
  especializada en la provisión de los
  mejores servicios profesionales de IT, así como el desarrollo de soluciones específicas de negocio, impulsándo la
  transformación digital en las empresas. Durante 15 años hemos trasladado nuestra cultura de excelencia a más de 70
  clientes, en más de 200 proyectos, y nuestro actual equipo de más de 100 ingenieros y consultores continúa con esta
  senda, aplicando la innovación tecnológica a los negocios de nuestros clientes.</p>
<div class="px-30 flex flex-col xl:flex-row gap-12 items-center mb-20">
  <div>
    <img class="xl:max-w-[240px]" src="ivanOrigenes.png" alt="Foto Ivan">
  </div>
  <div class="normal italic font-light" i18n="@@conocenos.origenes.texto3">
    "Nuestra estrategia e inquietudes hacen que SADE se adelante a sus competidores y esté a la vanguardia tecnológica,
    aplicando esta cultura de innovación y formación a sus profesionales para afrontar los retos tecnológicos del
    mañana".
  </div>
</div>
