
#bannerTalento {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right,#22b5e8,#1ea3dc,#1d98d4,#1888ca);
}






#fondoBurbujas {
  width: 100% !important;
  height: 100%;
  position: absolute
}

.destellos {
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  border-radius: 100%;
  bottom: 0;
  animation: animacionBurbujas 4s linear infinite;
  z-index: 1;
  -webkit-box-shadow: inset 0 0 3px 3px rgba(255,255,255,0.3);
  box-shadow: inset 0 0 3px 3px rgba(255,255,255,0.3);
  box-shadow: 0 0 7px 7px rgba(255,255,255,0.1)
}

.destellos:nth-child(1) {
  width: 15px !important;
  height: 15px;
  left: 25%;
  animation-duration: 18s;
  animation-delay: 1s
}

.destellos:nth-child(2) {
  width: 6px !important;
  height: 6px;
  left: 55%;
  animation-duration: 16s;
  animation-delay: 2s
}

.destellos:nth-child(3) {
  width: 8px !important;
  height: 8px;
  left: 85%;
  animation-duration: 12s;
  animation-delay: 3s
}

.destellos:nth-child(4) {
  width: 12px !important;
  height: 12px;
  left: 75%;
  animation-duration: 24s;
  animation-delay: .5s
}

.destellos:nth-child(5) {
  width: 4px !important;
  height: 4px;
  left: 95%;
  animation-duration: 14s
}

.destellos:nth-child(6) {
  width: 13px !important;
  height: 13px;
  right: 60%;
  animation-duration: 30s;
  animation-delay: 5s
}

.destellos:nth-child(7) {
  width: 9px !important;
  height: 9px;
  right: 95%;
  animation-duration: 22s
}

@keyframes animacionBurbujas {
  0% {
    width: 0;
    height: 0
  }

  3% {
    width: 20px;
    height: 20px
  }

  100% {
    bottom: 100%
  }
}

.buscamos{
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  color: white;
  z-index: 2;
  text-shadow: 8px 8px 8px #333333CC;
}
.envianos{
  text-shadow: 3px 3px 1px #333333CC;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
