<div id="bannerTalento" class="flex flex-col md:flex-row justify-center items-center text-white w-full
min-h-[calc(100vh_-_100px)] md:min-h-[50vh]">


  <div class="p-12 order-2 md:order-1 w-full flex flex-col items-center justify-center">
    <img id="" class="max-h-[300px]" src="avion.png" alt="avion">
  </div>


  <div class="p-12 order-1 md:order-2 w-full">
    <div class="buscamos flex flex-col">
        <div i18n="@@talento.envianosCurriculumBanner.unete">UNETE</div>
        <div i18n="@@talento.envianosCurriculumBanner.equipo">A NUESTRO EQUIPO</div>
    </div>
    <div class="envianos" i18n="@@talento.envianosCurriculumBanner.envianosTuCV">ENVIANOS TU CV</div>

  </div>
  <div id="fondoBurbujas">
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
  </div>
</div>
