<div id="bannerTalento">
  <div id="cubos">
    <img id="imgCubos" src="avion.png" alt="avion">
  </div>
  <div id="talentoMensaje">
    <div class="buscamos flex flex-col">
        <div>UNETE</div>
        <div>A NUESTRO EQUIPO</div>
    </div>
    <p class="somos">Envianos tu CV</p>

  </div>
  <div id="fondoBurbujas">
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
    <div class="destellos"></div>
  </div>
</div>
