<app-titulo-section titulo="Equipo SADE"/>
<p class="normal text-center mb-20">Os presentamos a nuestro equipo.</p>
<div class="flex justify-center">

  <div class="group relative
   bg-[#1f8ccf]
   ivan
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out
"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto">Dirección General</div>
      <div class="nombre">Ivan Gallardo</div>
    </div>
  </div>

</div>

<div class=" mt-16 w-full flex justify-center flex-wrap gap-12 mb-12 justify-items-center" style="row-gap: 4rem">

  <div class="group relative
   bg-[#1f8ccf]
    diego
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto">Financiero</div>
      <div class="nombre">Diego de Grado</div>
    </div>
  </div>

  <div class="group relative
   bg-[#1f8ccf]
    alberto
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto text-center">Estrategia y Desarrollo de Negocio</div>
      <div class="nombre">Alberto Kubusch</div>
    </div>
  </div>


  <div class="group relative sergio
   bg-[#1f8ccf]
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto text-center">Tecnologías y Operaciones</div>
      <div class="nombre">Sergio Álvarez</div>
    </div>
  </div>

  <div class="group relative
   bg-[#1f8ccf]
   maria
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto">Talento</div>
      <div class="nombre">María Jose Blanco</div>
    </div>
  </div>

  <div class="group relative
   bg-[#1f8ccf]
    juan
    bg-center bg-contain
    w-[250px] h-[250px]
    transition-all duration-700 ease-in-out"
  >
    <div class="infoPersonal absolute bg-white p-6 flex flex-col justify-center items-center
    w-[200px] bottom-[-45px] left-[25px] shadow-md/30 group-hover:shadow-lg/50">
      <div class="puesto">Gestión de Cuentas</div>
      <div class="nombre">Juan Ignacio de la Serna</div>
    </div>
  </div>

</div>
  <div class="mb-28"></div>

