<app-titulo-section titulo="Nuestras alianzas"></app-titulo-section>
<div class="grid grid-cols-1  md:grid-cols-2 xl:grid-cols-4 m-12 justify-center items-center justify-items-center gap-8">
  <div class="itemAlianzas ">
    <img src="./microsoftPartner.png" alt="Microsoft">
  </div>
  <div class="itemAlianzas">
    <img src="uiPath.png" alt="">
  </div>
  <div class="itemAlianzas">
    <img src="./druid.png" alt="druid">
  </div>
  <div class="itemAlianzas">
    <img src="liferay.png" alt="">
  </div>
  <div class="itemAlianzas">
    <img src="ibm.png" alt="">
  </div>
  <div class="itemAlianzas">
    <img src="sgaim.png" alt="">
  </div>
  <div class="itemAlianzas">
    <img src="hp.png" alt="">
  </div>
  <div class="itemAlianzas">
    <img src="crayon.png" alt="">
  </div>
</div>
