<app-titulo-section titulo="Soluciones"/>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-items-center gap-8 p-12">
<!--  Card1-->
  <div
    class="
      h-[400px]
      max-w-[300px]
     border-2
      border-gray-300
       bg-[#f8f9fa]
       p-6
       flex
       flex-col
       items-center
       gap-8
       rounded
">
    <div class="w-full">
      <img src="Inday.jpg" alt="Imagen">
    </div>
    <div class="text-gray-500 text-lg font-bold">Inday</div>
    <div class="text-2xl font-bold text-center">Gestión Empleados</div>
  </div>

  <!--  Card 2-->
  <div
    class="
      h-[400px]
      max-w-[300px]
     border-2
      border-gray-300
       bg-[#f8f9fa]
       p-6
       flex
       flex-col
       items-center
       gap-8
       rounded
">
    <div class="w-full">
      <img src="CRM.jpg" alt="Imagen">
    </div>
    <div class="text-gray-500 text-lg font-bold">CRM</div>
    <div class="text-2xl font-bold text-center">CRM</div>
  </div>

  <!--  Card 3-->
  <div
    class="
      h-[400px]
      max-w-[300px]
     border-2
      border-gray-300
       bg-[#f8f9fa]
       p-6
       flex
       flex-col
       items-center
       gap-8
       rounded
">
    <div class="w-full">
      <img src="gesusu.jpg" alt="Imagen">
    </div>
    <div class="text-gray-500 text-lg font-bold text-center">Soluciones de gestión RRHH</div>
    <div class="text-2xl font-bold text-center">Gesusu, Cuscus (DCP’s actualizado)</div>
  </div>
  <!--  Card-->
  <div
    class="
      h-[400px]
      max-w-[300px]
     border-2
      border-gray-300
       bg-[#f8f9fa]
       p-6
       flex
       flex-col
       items-center
       gap-8
       rounded
">
    <div class="w-full">
      <img src="seleKtra.jpg" alt="Imagen">
    </div>
    <div class="text-gray-500 text-lg font-bold">Selección Personal</div>
    <div class="text-2xl font-bold text-center">SeleKtra y SeleKtra AI</div>
  </div>



</div>
