<app-titulo-section titulo="Hablan de nosotros"></app-titulo-section>
<p class="texto-informativo mx-20">No nos gusta hablar de nosotros mismos, preferimos que nuestra gente y clientes hablen acerca de nosotros.</p>
<swiper-container init="false">
  <swiper-slide>
    <div class="flex gap-x-8">
      <div>
        <img class="logoEmpresa" src="bidaMini.png" alt="Logo Bidafarma">
      </div>
      <div class="flex flex-col gap-1">
        <div class="autor">Francisco Manuel Vega Lucero</div>
        <div class="empresa">BIDAFARMA</div>
        <div class="cargo">Gerente de transformación Digital</div>
      </div>
    </div>
    <div class=" block text-justify mt-4">
      <img class="quotimage inline mr-7" src="quot.png" alt="quot"/>
      <span>Trabajar con SADE es incorporar a tu empresa un equipo con visión de negocio y conocimiento tecnológicos,
        pero sobre todo con total implicación a la consecución de objetivos. El equipo de SADE te permite trabajar con
        total confianza y transparencia, ya que buscan colaboraciones y relaciones a largo plazo con sus clientes.
        El éxito del proyecto se superpone a posibles desviaciones o ampliaciones de requerimiento, para sustentar los
        cimientos de esa integración de sus equipos en las distintas unidades de negocio y en los equipo de proyecto de
        IT.
        </span>
    </div>
  </swiper-slide>
  <!--  sLider n 2-->
  <swiper-slide>
    <div class="flex gap-x-8">
      <div>
        <img class="logoEmpresa" src="nationaleMini.png" alt="Logo National">
      </div>
      <div class="flex flex-col gap-1">
        <div class="autor">Sergio Hernandez Mancebo</div>
        <div class="empresa">NATIONALE NEDERLANDEN</div>
        <div class="cargo"> IT Manager - Head of API</div>
      </div>
    </div>
    <div class=" block text-justify mt-4">
      <img class="quotimage inline mr-7" src="quot.png" alt="quot"/>
      <span>Desde Nationale-Nederlanden tenemos la suerte de contar con SADE como un partner de referencia, que lleva
        muchos años con nosotros compartiendo la aventura de transformar una compañía de Seguros, poniendo la tecnología
        en el centro para facilitar el diseño y la construcción de todos nuestros nuevos productos, con el único
        objetivo de hacer la vida de nuestros clientes más fácil. SADE encarna todos los valores que nos representan,
        demostrando calidad técnica , pero sobretodo humana. Desde mi departamento de API & Backend Development, tenemos
        la suerte de contar con su calidad y confianza, desde la cual todos juntos estamos creciendo como equipo y como
        acelerador tecnológico.
        </span>
    </div>
  </swiper-slide>
  <!--  Silider 3-->
  <swiper-slide>
    <div class="flex gap-x-8">
      <div>
        <img class="logoEmpresa" src="solissMini.png" alt="Logo Bidafarma">
      </div>
      <div class="flex flex-col gap-1">
        <div class="autor">Alberto Salgado Gutiérrez</div>
        <div class="empresa">SOLISS</div>
        <div class="cargo">Director de Transformación y Soporte Organizativo</div>
      </div>
    </div>
    <div class=" block text-justify mt-4">
      <img class="quotimage inline mr-7" src="quot.png" alt="quot"/>
      <span>SADE nos acompaña en nuestro Plan de Transformación desde su lanzamiento. Cuando decides contar con ellos,
        te das cuenta que va a ser una relación a largo plazo, ya que no sólo incorporas a un conjunto de profesionales
        que hacen bien su trabajo, sino que acercas una organización con personas comprometidas y cercanas que te ayudan
        a tomar la mejor decisión tecnológica dentro de tu arquitectura. Desde Soliss valoramos que cuando se incorpora
        un profesional de SADE, no sólo aporta experiencia y saber hacer, sino una actitud y valores que compartimos.
        </span>
    </div>
  </swiper-slide>

</swiper-container>
<div class="swiper-pagination" slot="pagination"></div>



