<app-titulo-section titulo="Filosofía SADE"/>
<p class="normal text-center mb-8 px-4">Conoce nuestros principios, misión y visión</p>
<div class="tab-filosofía flex justify-center normal gap-x-12 p-4 md:mx-12">
  <div (click)="verTab('valores')" [class]="valoresSelect()" class="enlace">Nuestros valores</div>
  <div (click)="verTab('mision')" [class]="misionSelect()" class="enlace">Nuestra misión</div>
  <div (click)="verTab('vision')" [class]="visionSelect()" class="enlace">Nuestra visión</div>
</div>
<div [class]="valores()" class="p-12">
  <p class="normal text-justify">Innovar con orientación al cliente de forma ágil en nuevos productos y servicios, a través de la
    tecnología, aprovechando las oportunidades y resolviendo las necesidades de las empresas, siempre con honestidad y
    cercanía.</p>
  <div class="flex flex-col  lg:flex-row gap-x-4 gap-y-8 px-2 md:px-25 mt-12">
    <div class="contentImgCruci min-w-[200px] flex justify-center">
      <img class="imgCruci" src="Sadecrucijama1.png" alt="S de Sade"/>
    </div>
    <div>
      <div class="title text-2xl text-center lg:text-left mb-8">
        <span>SOLUCIONES</span> INNOVADORAS
      </div>
      <div class="normal text-justify">
        Sin duda, los orígenes y el éxito de nuestra compañía no se entenderían sin una cultura basada en la innovación
        tecnológica. Gracias a entender que la tecnología y la investigación, en sí mismas, no tienen valor si no es con
        el objetivo de resolver una serie de necesidades tanto a nivel de negocio como social, hemos logrado alcanzar
        dicho éxito. Por eso siempre entendemos la innovación cerca del cliente o del usuario con el objetivo de que
        permita hacer las cosas mejor. Esta filosofía nos ha permitido, de la mano de nuestros clientes, llevar a
        mercado múltiples productos tecnológicos en los principales sectores donde operamos, y extender esta filosofía
        de trabajo a cada proyecto que hoy acometemos.
      </div>

    </div>
  </div>

  <div class="flex flex-col  lg:flex-row gap-x-4 gap-y-8 px-2 md:px-25 mt-12">
    <div class="contentImgCruci min-w-[200px] flex justify-center">
      <img class="imgCruci" src="Sadecrucijama2.png" alt="S de Sade"/>
    </div>
    <div>
      <div class="title text-2xl mb-8 text-center lg:text-left">
        <span>AGILIDAD </span> Y BÚSQUEDA DE BENEFICIO
      </div>
      <div class="normal text-justify">
        Somos muy rápidos tomando decisiones, resolviendo necesidades de nuestros clientes, poniendo en marcha nuevos
        productos, reinventándonos… En SADE entendemos que cada día debe ser una hoja en blanco y los cambios o
        problemas como una oportunidad de mejora. Esta visión, junto a prestar atención a las tendencias tecnológicas y
        del sector, asumir riesgos y mantener una filosofía de continuo aprendizaje, nos ha hecho evolucionar a lo largo
        de la historia de la compañía. Creemos firmemente que esta cultura empresarial tiene su eco en cómo nos
        relacionamos con nuestros clientes.
      </div>

    </div>
  </div>

  <div class="flex flex-col  lg:flex-row gap-x-4 gap-y-8 px-2 md:px-25 mt-12">
    <div class="contentImgCruci min-w-[200px] flex justify-center">
      <img class="imgCruci" src="Sadecrucijama3.png" alt="S de Sade"/>
    </div>
    <div>
      <div class="title text-2xl mb-8 text-center lg:text-left">
        <span>DEDICACIÓN </span> Y COMPROMISO
      </div>
      <div class="normal text-justify">
        Para SADE nuestra dedicación y el compromiso es dar el máximo de nuestras capacidades con el objetivo de sacar
        adelante cada iniciativa, actividad o proyecto. Entre nuestros trabajadores hemos establecido un vínculo que
        relaciona lo laboral y lo emocional y el resultado es un clima y entorno basado en el compromiso y la motivación
        por la consecución de unos objetivos comunes. Esta visión nos hace afrontar cada proyecto en el que trabajamos
        como una implicación humana y profesional diferencial.
      </div>

    </div>
  </div>

  <div class="flex flex-col  lg:flex-row gap-x-4 gap-y-8 px-2 md:px-25 mt-12">
    <div class="contentImgCruci min-w-[200px] flex justify-center">
      <img class="imgCruci" src="Sadecrucijama4.png" alt="S de Sade"/>
    </div>
    <div>
      <div class="title text-2xl mb-8 text-center lg:text-left">
        <span>ESPECIALIZACIÓN</span> TECNÓLOGICA
      </div>
      <div class="normal text-justify">
        Nuestra compañía está compuesta por múltiples áreas. Cada una de estas áreas realiza su actividad alrededor de
        una tecnología, mercado o solución propia o de terceros, aportando un valor diferencial en el mercado. Aportamos
        valor añadido frente a consultoras globales. Pero SADE en su conjunto representa una empresa solvente, con
        capacidad de abordar soluciones globales y de realizar grandes proyectos.
      </div>

    </div>
  </div>


</div>
<div [class]="mision()" class="p-12">
  <p class="normal">
    Construir el mejor equipo de profesionales con ilusión de transformar y mejorar las empresas y la sociedad a través
    de la tecnología desde la especialización en las últimas soluciones y en los diferentes retos del mercado. Hacerlo
    siendo una gran familia, formada por buenas personas que disfrutan convirtiéndose en un referente global con
    vocación de crecimiento desde su propia tierra. Organizaciones públicas y privadas trabajan con nosotros porque
    somos expertos a la hora de resolver sus necesidades y retos de tecnología. </p>
</div>
<div [class]="vision()" class="p-12">
  <p class="normal">
    Convertirnos en la compañía de tecnología más atractiva para los profesionales que quieran transformar la sociedad y
    las empresas y en el socio tecnológico para las compañías que requieren incorporar tecnología para mejorar y
    optimizar sus negocios.
  </p>
</div>




