<section id="mapaContacto"
  class="w-full min-h-[calc(100vh_-_100px)] lg:min-h-[100vh]
  flex flex-col md:flex-row items-center justify-center gap-[15%] p-12
"
>
  <div class="flex flex-col items-center normal md:gap-12 hover:scale-120 transition-all duration-500 ease-in-out cursor-pointer"
       onclick="window.open('tel:+34 91 153 31 71')">
    <div class="icono">
      <img src="telephone.svg" alt="">
    </div>
    <div class="text-center font-bold" i18n="@@contactanos.mapacontacto.telefonos">Teléfonos</div>
    <div class="text-[1rem] text-center">
      +34 91 153 31 71<br/>
      +34 667 73 73 86
    </div>
  </div>

  <div class="flex flex-col items-center normal md:gap-12 hover:scale-120 transition-all duration-500 ease-in-out cursor-pointer"
    onclick=" window.open('https://www.google.com/maps/place/C.+Monteverde,+67,+28042+Madrid', '_blank');"
  >
    <div class="icono">
      <img src="mapa.svg" alt="mapa">
    </div>
    <div class="text-center font-bold" i18n="@@contactanos.mapacontacto.oficina">Oficina Central</div>
    <div class="text-[1rem] text-center">
      C/ Monteverde 67
      <br/>
      28042 Madrid - España

    </div>
  </div>

  <div class="flex flex-col items-center normal md:gap-12 hover:scale-120 transition-all duration-500 ease-in-out cursor-pointer"
       onclick="window.open('mailto:administracion@grupo-sade.com?subject=Web%20Sade%20-%20Informaci%C3%B3n&body=%0AEstimado%20' +
                'Grupo%20Sade:%0A%0ANecesitar%C3%ADa%20informaci%C3%B3n%20referente%20a%0A%0A%0A')"
  >
    <div class="icono">
      <img src="carta.svg" alt="email">
    </div>
    <div class="text-center font-bold" i18n="@@contactanos.mapacontacto.correo">Correo electrónico</div>
    <div class="text-[1rem] text-center">
      administracion&#64;grupo-sade.com
    </div>
  </div>

</section>
