<section class="flex flex-col md:flex-row w-full">
  <div class="md:w-1/2 p-12">
    <img src="PlanRecuperacion.png" alt="" >
  </div>
  <div class="md:w-1/2 p-12 flex justify-center items-center">
    <p class="normal text-justify">SADE CONSULTORIA TECNICA SL ha instalado en la dirección CL MONTEVERDE 67, 28042 MADRID (MADRID) paneles
      fotovoltaicos con una potencia total instalada de 6,37 kWp, financiadas por la Unión Europea con cargo al Fondo
      NextGenerationEU, en el marco del Plan de Recuperación, Transformación y Resiliencia, en colaboración con el
      ministerio para la Transición Ecológica y el Reto demográfico, a través del IDAE y a la Consejería de Desarrollo
      Sostenible, a través de la Fundación de la energía de la Comunidad de Madrid.</p>
  </div>
</section>
