<section class="p-12">
  <app-titulo-section
    titulo="Nos incorporamos en tu estructura para colaborar en tus proyectos más innovadores"
    i18n-titulo="@@desarrollo.outsourcing"/>
  <p class="normal" i18n="@@desarrollo.outsourcing.text">
    Cada vez es más habitual que todo tipo de compañías deleguen sus proyectos o tareas a equipos especializados con el
    fin de cubrir y afrontar innovaciones, cumplir con los objetivos y mejoras de la calidad de los productos
    desarrollados. Nuestro modelo de factoría, así como nuestro equipo de desarrollo, está orientado a alcanzar la
    máxima eficiencia a través de una cercanía e integración con nuestros clientes, así como la aplicación de un modelo
    fiable que mejore la calidad y reduzca costes operativos.
  </p>
</section>
