#portada-home{
  background-repeat: no-repeat;
  background-size: cover ;
}
.btn-descubrelo{
  width: 150px;
  display:flex;
  justify-content: center;
}
.btn-descubrelo:hover{
  outline: white 2px solid;
}
div{
  position: relative;
}
.texto{
  transition: font-weight 0.3s, transform 0.3s;
}
#portada-home > div:hover > .texto{
  transform: scale(1.1);
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  #portada-home{
    background-image: url('./websade/portadaHomeMobile.png');
    background-position: center;
  }
}
@media screen and (min-width: 700px) {
  #portada-home{

    background-image: url('./websade/portadaHome.png');
    background-position: center;
  }
}
@media screen and (max-width: 1280px) {
  #portada-home {
    height: calc(100vh - 100px);
  }
}
@media screen and (min-width: 1280px) {
  #portada-home {
    height: calc(100vh - 152px);
  }
}
