<section class="p-12">
  <app-titulo-section titulo="Optimizando el futuro del trabajo"
                      i18n-titulo="@@digitalizacion.titulo"/>
  <p class="normal mb-4 text-justify" i18n="@@digitalizacion.texto.p1">La tecnología actual tiene una función crítica en
    la retención de empleados. El puesto y la forma de trabajar han cambiado para siempre y seguirán cambiando.
    Independientemente de si se accede de forma remota, en un entorno híbrido o en la oficina, los datos deben ser
    productivos y seguros. Tus empleados merecen poder trabajar de forma fluida, independientemente de dónde se
    encuentren. Y si no es así en su trabajo actual, lo buscarán en otra empresa.</p>
  <p class="normal mb-4 text-justify" i18n="@@digitalizacion.texto.p2">Los servicios de puesto de trabajo digital de
    SADE aportan un amplio conocimiento técnico y de licencias basadas en relaciones prolongadas con los principales
    fabricantes, entre ellos Microsoft y Google. Desde SADE queremos ayudar a las empresas a afrontar esta situación de
    la mejor manera posible.</p>
</section>
