.principal{
  display:flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainTitle{
  font-family: Kanit, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 5px 5px 5px #000000;
}
.secondaryTitle {
  font-family: "Roboto", sans-serif;
  font-size:1.5rem;
  font-weight: 300;
  font-style: normal;
  text-shadow: 5px 5px 5px #000000;
}
