<app-titulo-section titulo="¿Qué buscamos?" i18n-titulo="@@talento.quebuscamos.titulo"/>
<p class="normal text-center my-4 px-12" i18n="@@talento.quebuscamos.p1">El talento es una mezcla de conocimientos e
  inteligencia, a la que se suman la aptitud y la actitud de cada ser humano.</p>
<p class="normal text-center my-4 px-12" i18n="@@talento.quebuscamos.p2">En SADE sabemos lo importante que es
  detectarlo.</p>
<p class="normal text-center mt-4 mb-16 px-12" i18n="@@talento.quebuscamos.p3">Nuestro empeño e ilusión es saber
  “cuidar” y reconocer el talento de todas y cada una de las personas que hacen cada día que SADE sea posible</p>
