@import "tailwindcss";
@import 'swiper/swiper-bundle.css';



@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

*{
  box-sizing: border-box;
}

.normal{
  font-family: Kanit, sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #636363;
}

input, textarea, select{
  border-radius: 5px;
  border: 1px solid #ced4da;
}

input:focus, textarea:focus{
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,0.25);
  color: #495057;
  outline: 0;
}


